<section>
  <div class="container">
    <div class="row text-center pt-5">

      <div class="col-12 mt-5">
        <p class="display-4 lead">Bezpłatne narzędzie do diagnozy</p>
        <p class="text-gray">Sprawdź czy możesz cierpieć na depresję lub/i stany lękowe.</p>
        <button (click)="onRegisterClicked()" class="btn btn-info rounded-pill mt-3 join">Dołącz do nas</button>
      </div>
      <div class="col-12 mt-5">
        <img class="img-fluid" src="https://dummyimage.com/800x450/ccc/000" alt="user dashboard">
      </div>

    </div>
  </div>
</section>
