.navbar-dashboard {
  min-height: 60px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.nav-item a {
  border-radius: .25rem;
  user-select: none;
  transition: .3s all ease;
}

.nav-item.active a {
  background: #0275d8;
  color: #fff;
}

.navbar-collapse {
  z-index: 1000;
  background: #f8f9fa;
}

.navbar-toggler {
  outline: none;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.navbar-toggler {
  outline: none;
  border: none;
}

.active .current {
  color: #fff !important;
}

.current {
  color: #000 !important;
}
