<section>
  <div class="container">
    <div class="row text-center pt-5">

      <div class="col-12 mt-5">
        <p class="display-4 lead">Lorem ipsum alares doleris</p>
        <p class="text-gray">Lorem ipsum aleres doleris</p>
        <button class="btn btn-info rounded-pill mt-3 join">Dołącz do nas</button>
      </div>
      <div class="col-12 mt-5">
        <img class="img-fluid" src="https://dummyimage.com/800x450/ccc/000" alt="user dashboard">
      </div>

    </div>
  </div>
</section>
