.prediction {
  height: 62px;
  line-height: 31px;
  user-select: none;
  background: linear-gradient(to right, white 50%, #0275d8 50%) left bottom;
  background-size: 202% 100%;
  background-position-x: -1px;
  transition: all .4s ease;
}

.prediction.active {
  background-position: -99%;
  color: #fff;
}

.prediction .icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 100%;
  text-align: center;
}

.prediction .icon.bg-green {
  background: #28a745;
}

.prediction .icon.bg-gray {
  background: #9e9e9e;
}
