<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light shadow-lg p-0">
  <button (click)="onMenuToggle()" class="navbar-toggler text-black-50 mr-3" type="button">
    <fa-icon [icon]="menuToggleIcon" class="pl-2" size="lg"></fa-icon>
  </button>

  <div class="collapse navbar-collapse text-center pr-3 bg-light" #menuRef>
    <ul class="navbar-nav mr-auto ml-3">
      <li class="nav-item text-gray pointer" [routerLink]="['/dashboard']">
        <fa-icon [icon]="faBack" size="lg"></fa-icon>
        <p class="nav-link mt-n3 ml-2 h5">Wróć do panelu</p>
      </li>
    </ul>

    <ul class="navbar-nav text-gray">
      <li class="nav-item pointer mr-2 ml-2" [routerLink]="['/profile', 'details']"
          routerLinkActive="active">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
        <span class="nav-link ml-2 h5">Informacje</span>
      </li>

      <li class="nav-item pointer mr-2 ml-2" [routerLink]="['/profile', 'privacy']" routerLinkActive="active">
        <fa-icon [icon]="faKey" size="lg"></fa-icon>
        <span class="nav-link d-inline-block ml-2 pointer h5">Prywatność</span>
      </li>

      <li class="nav-item pointer mr-2 ml-2" [routerLink]="['/profile', 'settings']" routerLinkActive="active">
        <fa-icon [icon]="faWrench" size="lg"></fa-icon>
        <span class="nav-link d-inline-block ml-2 h5">Ustawienia</span>
      </li>
    </ul>

  </div>
</nav>
