<section class="d-block">
  <!-- Sent invites -->
  <h2 class="h2 pt-2">Twój profil widoczny dla:</h2>
  <p class="font-weight-light mt-4" *ngIf="friends.length == 0">Brak</p>
  <div class="text-left d-inline-block mt-4">
    <!-- Spinner -->
    <div *ngIf="isUserFriendsFetching" class="spinner text-center p-3 ">
      <fa-icon size="3x" [icon]="spinnerIcon" spin="true"></fa-icon>
    </div>
    <!-- User friends list -->
    <ul *ngIf="!isUserFriendsFetching" class="list-group">
      <li *ngFor="let friend of friends" class="list-group-item">
        {{ friend.firstName + ' ' + friend.lastName }}
        <fa-icon class="float-right text-gray pointer" (click)="onFriendRemove(friend)" [icon]="faTimes"
                 size="sm"></fa-icon>
      </li>
    </ul>
  </div>
</section>
