.navbar {
  height: 60px;
}

.nav-item {
  user-select: none;
}

.navbar-toggler {
  position: absolute;
  outline: none;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 0;
  z-index: 1050;
}

.navbar-collapse {
  width: 100vw;
  z-index: 1000;
  background: #f8f9fa;
}

.offset {
  margin-top: 70px;
}

.nav-item .custom-select {
  margin: 5px;
  width: 200px;
}
