<div class="offset"></div>

<nav class="navbar navbar-expand-xl navbar-light fixed-top bg-light shadow-lg p-0">
  <button (click)="onMenuToggle()" class="navbar-toggler text-black-50 ml-auto" type="button">
    <fa-icon [icon]="menuToggleIcon" size="lg"></fa-icon>
  </button>

  <div class="collapse navbar-collapse" #menuRef>
    <ul class="navbar-nav pl-1">
      <li class="nav-item" [formGroup]="usersForm">
        <select (change)="selectUser()" class="custom-select" formControlName="users">
          <option
            [value]="currentUser.userId">{{ currentUser.firstName + ' ' + currentUser.lastName | titlecase}}</option>

          <option *ngFor="let user of userFriendsTo"
                  [value]="user.userId">{{ user.firstName + ' ' + user.lastName | titlecase}}</option>
        </select>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto pl-3">
      <li appDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pointer">
          {{ currentUser.firstName }}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item pointer" [routerLink]="['/profile']">Profile</a>
          <a class="dropdown-item pointer" (click)="onLogout()">Wyloguj</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
