<section class="d-block">
  <!-- Sent invites -->
  <h2 class="h2 pt-3">Odebrane zaproszenia</h2>
  <p class="font-weight-light mt-4" *ngIf="pendingInvites.length == 0">Brak</p>
  <div class="text-left d-inline-block mt-4">
    <!-- Spinner -->
    <div *ngIf="isUserPendingInvitesFetching" class="spinner text-center p-3 ">
      <fa-icon size="3x" [icon]="faCircleNotch" spin="true"></fa-icon>
    </div>
    <!-- User pending invites list -->
    <ul *ngIf="!isUserPendingInvitesFetching" class="list-group">
      <li *ngFor="let pendingInviteUser of pendingInvites" class="list-group-item">
        {{ pendingInviteUser.firstName + ' ' + pendingInviteUser.lastName }}
        <fa-icon class="float-right text-gray pointer text-red" (click)="onInviteRefuse(pendingInviteUser)"
                 [icon]="refuseIcon" size="sm"></fa-icon>
        <fa-icon class="float-right text-gray pointer text-green mr-2" (click)="onInviteAccept(pendingInviteUser)"
                 [icon]="acceptIcon" size="sm"></fa-icon>
      </li>
    </ul>
  </div>
</section>
