<section class="text-center d-block">
  <p class="display-3 mt-5">Informacje</p>

  <form [formGroup]="profileDetailsForm" class="text-left d-inline-block mt-4">
    <!-- Error Message -->
    <div *ngIf="!!errorMessage" class="alert alert-danger p-2 mb-4 text-center">
      {{ errorMessage }}
    </div>
    <!-- Full Name -->
    <div class="form-row mt-2 mb-2">
      <div class="form-group col-sm">
        <!-- First name -->
        <label for="firstName">Imię</label>
        <input class="form-control" id="firstName" formControlName="firstName" placeholder="Imię" type="text"/>
      </div>
      <div class="form-group col-sm">
        <!-- Last name -->
        <label for="lastName">Nazwisko</label>
        <input class="form-control" id="lastName" formControlName="lastName" placeholder="Nazwisko" type="text"/>
      </div>
    </div>
    <!-- Birthday -->
    <div class="form-row mt-2 mb-2">
      <div class="form-group col-sm-4">
        <!-- Day -->
        <label for="day">Dzień</label>
        <select id="day" formControlName="day" class="form-control">
          <option *ngFor="let day of daysInMonth" [value]="day">{{ day }}</option>
        </select>
      </div>
      <div class="form-group col-sm-5">
        <!-- Month -->
        <label for="month">Miesiąc</label>
        <select id="month" formControlName="month" class="form-control" (change)="onBirthdayChange()">
          <option *ngFor="let month of months; let index = index" [value]="index + 1">{{ month }}</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <!-- Year -->
        <label for="year">Rok</label>
        <select id="year" formControlName="year" class="form-control" (change)="onBirthdayChange()">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>
    <button (click)="onSave()" [disabled]="!profileDetailsForm.valid || isFetching || !profileDetailsForm.touched"
            class="btn btn-primary btn-lg btn-block p-3 mt-5" type="submit">
      <span *ngIf="!isFetching">Zaktualizuj</span>
      <fa-icon *ngIf="isFetching" [fixedWidth]="true" [icon]="faCircleNotch" class="text-white"
               size="sm"
               spin="true"></fa-icon>
    </button>
  </form>
</section>
