<section class="mt-5">
  <div class="container text-center">
    <span class="h2 title">Możliwości</span>

    <div class="row mt-5">
      <div class="col-lg-6 text-left">
        <p class="h3">Lorem ipsum dolor</p>
        <p class="text-gray">
          Nunc feugiat erat a diam ultricies ultricies. Maecenas pellentesque est nec ipsum tristique hendrerit sit amet
          a lectus. Morbi eget facilisis neque. Vestibulum vestibulum a justo eu molestie.
        </p>
        <div class="advantage">
          <fa-icon class="rounded-circle d-inline-block mt-4 mb-3" size="2x" [icon]="faUser"></fa-icon>
          <div class="d-inline-block">
            <p class="w-75 lead">Lorem ipsum</p>
            <p class="w-75 mt-n3 text-gray">dolor sit amet, consectetur adipiscing elit. Nunc feugiat erat a diam
              ultricies ultricies.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid" src="https://dummyimage.com/600x400/ccc/000" alt="user dashboard"/>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <img class="img-fluid" src="https://dummyimage.com/600x400/ccc/000" alt="user dashboard"/>
      </div>
      <div class="col-lg-6 text-left">
        <p class="h3">Lorem ipsum dolor</p>
        <p class="text-gray">
          Nunc feugiat erat a diam ultricies ultricies. Maecenas pellentesque est nec ipsum tristique hendrerit sit amet
          a lectus. Morbi eget facilisis neque. Vestibulum vestibulum a justo eu molestie.
        </p>
        <div class="advantage">
          <fa-icon class="rounded-circle d-inline-block mt-4 mb-3" size="2x" [icon]="faUser"></fa-icon>
          <div class="d-inline-block">
            <p class="w-75 lead">Lorem ipsum</p>
            <p class="w-75 mt-n3 text-gray">dolor sit amet, consectetur adipiscing elit. Nunc feugiat erat a diam
              ultricies ultricies.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
