.advantage .icon {
  height: 64px;
  width: 64px;
  line-height: 76px;
  background: #17a2b8;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 10px;
}

.advantage .icon fa-icon {
  color: #fff;
}

.advantage .lead {
  font-weight: 400;
}

.title {
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 3px solid #0275d8;
  padding-bottom: 5px;
}
