<section class="mt-5">
  <div class="container text-center">
    <span class="h2 title">Możliwości</span>

    <div class="row mt-5">
      <div class="col-xl-6 text-left">
        <p class="h3">Kontrola emocji</p>
        <p class="text-gray">
          Dokumentuj swoje emocje i otrzymaj rezultat wskazujący czy możesz cierpieć na depresję lub stany lękowe.
        </p>
        <div class="advantage">
          <div class="icon">
            <fa-icon class="d-inline-block" size="2x" [icon]="faClipboard"></fa-icon>
          </div>
          <div class="d-inline-block">
            <p class="w-75 lead">Rezultat</p>
            <p class="w-75 mt-n3 text-gray">Po tygodniu regularnego wprowadzania danych zostanie wygenerowany twój
              rezultat na ich podstawie.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <img class="img-fluid" src="https://dummyimage.com/600x400/ccc/000" alt="user dashboard"/>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-xl-6">
        <img class="img-fluid" src="https://dummyimage.com/600x400/ccc/000" alt="user dashboard"/>
      </div>
      <div class="col-xl-6 text-left">
        <p class="h3">Praca ze specjalistą</p>
        <p class="text-gray">
          Nasze narzędzie umożliwia w łatwy sposób współpracę z twoim specjlaistą. Specjalista może przeglądać twój
          profil pod kątem zmiany w nastroju.
        </p>
        <div class="advantage">
          <div class="icon">
            <fa-icon class="d-inline-block" size="2x" [icon]="faEnvelope"></fa-icon>
          </div>
          <div class="d-inline-block">
            <p class="w-75 lead">Zaproszenia</p>
            <p class="w-75 mt-n3 text-gray">Dzięki wbudowanemu systemowi zaproszeń wystarczy że podasz swój
              identyfikator specjaliście i zaakceptujesz zaproszenie.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
