<section class="d-block">
  <!-- Sent invites -->
  <h2 class="h2 pt-3">Możesz zobaczy profile dla:</h2>
  <p class="font-weight-light mt-4" *ngIf="friendsTo.length == 0">Brak</p>
  <div class="text-left d-inline-block mt-4">
    <!-- Spinner -->
    <div *ngIf="isUserFriendsToFetching" class="spinner text-center p-3 ">
      <fa-icon size="3x" [icon]="spinnerIcon" spin="true"></fa-icon>
    </div>
    <!-- User friends to list -->
    <ul *ngIf="!isUserFriendsToFetching" class="list-group">
      <li *ngFor="let friend of friendsTo" class="list-group-item">
        {{ friend.firstName + ' ' + friend.lastName }}
        <fa-icon class="float-right text-gray pointer" (click)="onFriendRemove(friend)" [icon]="faTimes"
                 size="sm"></fa-icon>
      </li>
    </ul>
  </div>
</section>
