ul.emotions {
  list-style-type: none;
}

ul.emotions li {
  display: inline-block;
  user-select: none;
  margin-top: 3px;
  margin-bottom: 3px;
}

.add {
  position: absolute;
  bottom: 7px;
  font-size: 30px;
  color: #0275d8;
}

.day-part-name {
  position: relative;
}
