.register-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1050;
}

.register-modal .content .header {
  min-height: 56px;
}

.register-modal .content .body .icon {
  margin-top: -30px;
  border: 2px solid #0275d8;
  line-height: 120px;
  color: #0275d8;
  height: 100px;
  width: 100px;
}

.register-modal .content .body .title {
  color: #3c3c3c;
}

.register-modal .content {
  display: inline-block;
  width: 75vw;
  max-width: 450px;
  min-height: 550px;
  max-height: 75vh;
  background: #fff;
}

.register-modal .content .header .close {
  color: #3c3c3c;
  cursor: pointer;
  user-select: none;
}
