<div class="modal-backdrop fade show"></div>

<div class="login-modal p-5">
  <div class="content mt-5 rounded-lg">
    <div class="header">
      <span class="float-right p-3 close">×</span>
    </div>
    <div class="body">
      <div class="icon d-inline-block rounded-circle">
        <fa-icon [icon]="userIcon" size="3x"></fa-icon>
      </div>
      <p class="title h2 font-weight-light mt-2">Logowanie</p>

      <!-- Login Form -->
      <form class="p-3 mr-4 ml-4" [formGroup]="loginForm">
        <!-- Error Message -->
        <div *ngIf="!!errorMessage" class="alert alert-danger p-2 mb-4">
          {{ errorMessage }}
        </div>

        <!-- Email -->
        <div class="form-group">
          <input class="form-control" formControlName="email" placeholder="Email" type="email">
        </div>
        <!-- Password -->
        <div class="form-group">
          <input class="form-control" formControlName="password" placeholder="Password" type="password">
        </div>
        <!-- Submit -->
        <div class="form-group">
          <button (click)="onSubmit()" [disabled]="!loginForm.valid || isAuthenticating"
                  class="btn btn-primary btn-lg btn-block p-3 mt-5" type="submit">
            <span *ngIf="!isAuthenticating">Zaloguj</span>
            <fa-icon *ngIf="isAuthenticating" [fixedWidth]="true" [icon]="authenticatingIcon" class="text-white"
                     size="sm"
                     spin="true"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
