@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.custom-select:focus {
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

a:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}
